<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

	<%- include('partials/head'); %>

	<style type="text/css">
		.checkbox-size-20 {
			width: 20px;
			height: 20px;
		}
	</style>

</head>
<body>
	<%- include('partials/nav'); %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<% if(events.length > 0){ %>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Event ID</th>
									<th scope="col">Event Name</th>
									<th scope="col">Enter</th>
								</tr>
							</thead>
							<tbody>
								<% events.forEach(function(event) { %>
									<tr>
										<td> <%= event.id %> </td>
										<td> <%= event.event_name %> </td>
										<td>
											<a href="/event_detail/<%= event.id %>">
												<button type="button" class="btn btn-primary">Enter</button>
											</a>
										</td>
									</tr>
								<% }); %>
							</tbody>
						</table>
			 		<% } else { %>
						<h3 style="margin-top: 20px;text-align: center;">No event for this account</h3>
			 		<% } %>

				</div>
			</div>
		</div>
	</div>
</body>

</html>